
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #f4f7f6;
    color: #162a45; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.auth-box {
    background: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.toggle-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 2px solid #eee;
}

.toggle-buttons button {
    flex: 1;
    background: none;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
    transition: 0.3s ease;
}

.toggle-buttons button.active {
    color: #68bda9; 
    border-bottom: 2px solid #68bda9;
}


h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}


.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #162a45;
}

.input-group input {
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #68bda9;
}

.submit-btn {
    width: 100%;
    background: #68bda9; 
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background: #56a592;
}

.hidden-form {
    display: none;
}
.active-form {
    display: block;
}